/* imports for Google Font: Aboreto */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

/* Universal effects */
body {
  background-image: #ffffff;
  width: 100vw;
  margin: 0;
}

/* Styles by Element Tag */
img {
  border-radius: 25px;
}

header {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

nav {
  background-color: #ffffff;
  text-align: left;
}

.fa-bars {
  margin-left: 10px;
}

nav ul {
  display: none;
  font-size: 2em;
  text-align: left;
}

nav li {
  display: block; 
  padding-left: 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-family: Aboreto;
  font-size: 2em;
  text-align: center;
}

header img {
  display: block;
  max-width: 70%;
  margin: 5%  auto;
}

.fa-angle-down {
  display: block;
  position: absolute;
  bottom: 0;
  right: 40%;
}


#bio {
  text-align: justify;
  border-top: 5px solid #000d3d;
  padding: 0 5%;
}


p, #resume ul  {
  font-family: Open Sans;
  font-size: 2em;
}

#portfolio {
  text-align: center;
  border-top: 5px solid #000d3d;
}

#portfolio img {
  width: 50%;
  margin-top: 2em;
  border: 3px solid #000000;
}

#resume {
  text-align: left;
  border-top: 5px solid #000d3d;
}

h2 {
  font-family: Aboreto;
  font-size: 64px;
  text-align: left;
}

footer {
  background-color: #ffffff;
  margin-bottom: -30px;
  font-size: 1em;
}

#fullPage {
  height: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}

img:hover {
  borer: 5px solid red;
}

header h1:hover {
  color: blue;
}

@media screen and (min-width: 700px) {
  h1, h2 {
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }

  li {
    font-size: 1.5rem;
  }

  header {
    padding: 0 5%;
    height: 80%;
  }

  nav {
    text-align: center;
  }
  
  i.fa-angle-down {
    display: none !important;
  }
  
  nav ul {
    display: inline-block;
    padding: 0;
    text-align: center;
  }

  nav li {
    display: inline-block;
    padding: 1em;
  }

  #home img {
    display: inline-block;
    float: right;
    max-width: 45%;
    margin: 0 0;
  }
  
  #home h1 {
    text-align: center;
    padding-top: 2em;
  }

  #bio, #portfolio, #resume {
    border: none;
  } 

  #fullPage {
    text-align: center;
    padding: 0 5%;
    clear: both;
  }

  #bio {
    display: block;
    width: 100%;
    border-bottom: 2px solid #000000;
  }

  #portfolio {
    display: block;
    text-align: center;
  }

  #portfolio img {
    display: inline-block: 
    float: left;
    max-width: 25%;
    margin-left: 5em ;
  }

  #resume {
    display: block;
    width: 100%;
  }
}
